.hero {
    position: relative;
    display: flex;
    top: 0;
}

.hero img {
    max-width: 45%;
    opacity: 30%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.hero .custom-weight {
    font-weight: 700;
}

.hero .custom-mt {
    z-index: 9999;
    margin-top: 5%;
    margin-left: 15%;
}

.hero h1 {
    font-size: 150px;
}

.hero a {
    font-size: 25px;
}

.hero span {
    color: #198754;
}

@media(max-width: 900px) {
    .hero img {
        margin-bottom: -20%;
        margin-right: -20%;
        max-width: 150%;
        opacity: 20%;
    }
    .hero .custom-mt {
        margin-top: 30%;
    }
}

.calendar-wrap {
    display: flex;
    flex-wrap: wrap;
}

.calendar-img {
    max-width: 150px;
    transform: rotate(90deg);
    flex: 1 0 21%; /* explanation below */
    background-color: #198754;
    margin-left: -5px;
}